<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->

    <title>One Thing</title>
    <style>
        input {
            background-color: rgba(0, 0, 0, 0);
            color: #fff;
            padding: 0 5px;
            border: 0;
        }

        .center {
            text-align: center;
        }

        .plusBtn {
            text-align: center;
            border: 0;
            font-weight: bold;
            color: aqua;
            cursor: pointer;
        }

        .plusBtn:hover {
            color: rgb(247, 223, 3);
        }

        .plus_item {
            padding: 5px 0;
            text-align: right;
        }

        .plus_category {
            padding: 0 10px;
        }

        .container,
        .txt,
        .textMetrics {
            font: inherit;
        }

        .textMetrics {
            display: inline-block;
            position: absolute;
            height: 0;
            overflow: hidden;
            white-space: nowrap;
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
        }

        .deleteBtn {
            border: 0;
            padding: 0 5px;
            color: #f00;
            cursor: pointer;

        }

        .deleteBtn img {
            width: 20px;
            height: 20px;
            padding: 3px;
            vertical-align: middle;
        }

        .deleteBtn img:hover {
            opacity: 0.3;
        }

        table {
            margin: 0 auto;
        }

        td {
            padding: 0 3px;
        }

        .active {
            color: rgb(214, 5, 106);
        }
    </style>
</head>

<body>
    <div id="app">
        <table id="table">
            <tr class="center">
                <td>実行</td>
                <td>日付</td>
                <td></td>
                <td v-for="cat in categories" :class="cat.title" :key="cat.id" :data-id="cat.id">{{ cat.title }}</td>
                <td class="plusBtn plus_category" v-on:click="addCategory">列＋</td>
            </tr>
            <tr>
                <td colspan="2">ツールコンテンツ</td>
                <td></td>
                <td v-for="cat in categories" :class="cat.title" :key="cat.id" :data-id="cat.id"></td>
            </tr>
            <tr v-for="item in items" :key="item.id" :data-id="item.id">
                <td class="center"><input type="checkbox" name="" id="" :checked=item.done v-on:change="updateDone"
                        class="doneBtn">
                </td>
                <td><input type="date" :value="item.date" v-on:change="updateDate" class="dateField"></td>
                <td>{{ item.evaluation }}</td>
                <td v-for="cat in categories" :class="cat.title" :key="cat.id" :data-id="cat.id">
                    <div class="container" v-if="true">
                        <input class="txt" type="text" :value='cat.id==item.cat ? item.title : " "'
                            v-on:change="inputHundler">
                        <span class="textMetrics" aria-hidden="true"></span>
                    </div>
                </td>
                <td v-on:click="deleteItem" class="deleteBtn"><img src="img/remove-button.png"></td>
            </tr>
            <tr>
                <!-- <td :colspan="categories.length + 3" class="plusBtn plus_item" v-on:click="addItem">行＋</td> -->
                <td :colspan="4" class="plusBtn plus_item" v-on:click="addItem">行＋</td>
            </tr>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.2/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.9.2/firebase-analytics.js";
        import { getDatabase, ref, onValue, set } from "https://www.gstatic.com/firebasejs/9.9.2/firebase-database.js";

        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyCJiIxHNvf944qVkziA_LTYJFaiMZcE_RU",
            authDomain: "onething-2eb31.firebaseapp.com",
            databaseURL: "https://onething-2eb31-default-rtdb.firebaseio.com",
            projectId: "onething-2eb31",
            storageBucket: "onething-2eb31.appspot.com",
            messagingSenderId: "684083492013",
            appId: "1:684083492013:web:6daa5ff4134cbc681e4224",
            measurementId: "G-TLSV5F4E05",
            databaseURL: "https://onething-2eb31-default-rtdb.firebaseio.com"
        };

        const app_firebase = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app_firebase);
        const database = getDatabase(app_firebase);

        const oneThingRef = ref(database, '/');

        const table = document.getElementById('table');

        let app = new Vue({
            el: "#app",
            data: {
                items: [
                    {
                        "cat": 0,
                        "date": "",
                        "done": false,
                        "evaluation": "",
                        "id": 0,
                        "title": "",
                        "active": false
                    }
                ],
                categories: [
                    {
                        id: 0,
                        title: ""
                    }
                ]
            },
            methods: {
                loadData: function (ary0, ary1) {
                    this.items = ary0;
                    this.categories = ary1;
                },
                textMetrics: function () {
                    // const span = document.getElementById("textMetrics");
                    // const input = document.getElementById("txt");
                    // span.textContent = input.value;
                    // console.log('input.value： ' + input.value);
                    // input.style.width = `${span.clientWidth}px`;
                    // console.log(`${span.clientWidth}px`);
                },
                addItem: function () {
                    const result = prompt("追加するタスクは？", "task");
                    if (result) {
                        let l = this.items.length;
                        const item =
                        {
                            "cat": 0,
                            "date": "",
                            "done": false,
                            "evaluation": "",
                            "id": l,
                            "title": result
                        }
                        this.items.push(item);
                        writeItems();
                    }
                },
                addCategory: function () {
                    const result = prompt("追加するカテゴリーは？", "category");
                    if (result) {
                        let l = this.categories.length;
                        const cat =
                        {
                            id: l,
                            title: result
                        }
                        this.categories.push(cat);
                        writeCategories();
                    }
                },
                inputHundler: function (e) {
                    //　編集したところ以外を消す、catを編集したinoutのidにする
                    var cat = 0;
                    const curInput = e.target;
                    const tr = curInput.parentNode.parentNode.parentNode;

                    var elements = document.getElementsByTagName("tr");
                    elements = [].slice.call(elements);
                    var itemIndex = elements.indexOf(tr);
                    const item = app.items[itemIndex - 2];

                    var inputArray = [];
                    for (let index = 0; index < this.categories.length; index++) {
                        const td = tr.children[index + 3];
                        const input = td.firstElementChild.firstElementChild;
                        inputArray.push(input);
                        if (input == curInput) {
                            cat = index;
                        } else {
                            input.value = '';
                        }
                        item.title = curInput.value;
                    }
                    const span = e.target.nextElementSibling;
                    span.textContent = curInput.value;
                    curInput.style.width = `${span.clientWidth}px`;
                    item.cat = cat;
                    writeItems();
                },
                deleteItem: function (e) {
                    var result = window.confirm('この行を削除しますか？');
                    if (result) {
                        var btn = e.target;
                        var elements = document.getElementsByClassName('deleteBtn');
                        elements = [].slice.call(elements);
                        var itemIndex = elements.indexOf(btn);
                        const item = app.items[itemIndex - 2];
                        app.items.splice(itemIndex, 1);
                        writeItems();
                    }
                },
                updateDone: function (e) {
                    var btn = e.target;
                    var elements = document.getElementsByClassName('doneBtn');
                    elements = [].slice.call(elements);
                    var itemIndex = elements.indexOf(btn);
                    const item = app.items[itemIndex];
                    item.done = !item.done;
                    writeItems();
                },
                updateDate: function (e) {
                    var btn = e.target;
                    var elements = document.getElementsByClassName('dateField');
                    elements = [].slice.call(elements);
                    var itemIndex = elements.indexOf(btn);
                    const item = app.items[itemIndex];
                    item.date = btn.value;
                    this.sort();
                    writeItems();
                },
                sort: function (e) {
                    app.items.sort(function (x, y) {
                        var firstDate = new Date(x.date),
                            SecondDate = new Date(y.date);

                        if (firstDate < SecondDate) return -1;
                        if (firstDate > SecondDate) return 1;
                        return 0;
                    });

                    console.log(app.items);
                }
            },
            created: function () {
                console.log('created!');
            },
            mounted: function () {
                console.log('mounted!');
            }
        });

        onValue(oneThingRef, (snapshot) => {
            const data = snapshot.val();
            app.loadData(data.items, data.categories);
            // console.log('タイトル： ' + data.items[0].title);
            app.textMetrics();
            // updateInputsWidth();

        });



        function writeItems() {
            console.log('writeItems!');
            set(ref(database, '/items/'), app.items);
        }

        function writeCategories() {
            console.log('writeCategories!');
            set(ref(database, '/categories/'), app.categories);
        }

        // function updateInputsWidth() {
        //     var ary = document.getElementsByClassName("txt");
        //     console.log(ary.length);
        //     var inputs = Array.prototype.slice.call(ary);
        //     inputs.forEach(function (item) {
        //         console.log(item);
        //     });
        // }



    </script>
</body>

</html>