<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" />
    <link rel="shortcut icon" href="favicon.ico">
    <title>One Thing</title>
</head>
<body>
    <div id="app">
        <div id="header">
            <!-- 表示領域 -->
            <div id="display">
                <div id="display-title"></div>
                <div id="display-date"></div>
                <div id="display-body"></div>
                <div id="display-icon"></div>
            </div>
        </div>
        <!-- リスト表示領域 -->
        <div id="list">
            <ul id="items" style="list-style-type: none">
                <li v-for="item in items" :class="item.category" :key="item.id"
                    :data-id="item.id">
                    <div class="item-title">{{ item.title }}</div>
                    <div class="item-body">
                        <img v-for="path in item.imgPaths"
                            :src='"./img/"+path' />
                        <br />
                        <a v-for="url in item.urls" :href="url"
                            target="_blank">click to open</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="./data.js"></script>
    <script src="./main.js"></script>
    
</body>
</html>